<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginComServlet</servlet-name>
        <servlet-class>Controller.LoginComServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobPostServlet</servlet-name>
        <servlet-class>Controller.JobPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobListComServlet</servlet-name>
        <servlet-class>Controller.JobListComServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobPostList</servlet-name>
        <servlet-class>Controller.JobPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyList</servlet-name>
        <servlet-class>Controller.CompanyList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyListAdmin</servlet-name>
        <servlet-class>Controller.CompanyListAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComSer</servlet-name>
        <servlet-class>Controller.DeleteComSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyServlet</servlet-name>
        <servlet-class>Controller.AddCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControllerServlet</servlet-name>
        <servlet-class>Controller.HomeControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jobDAO</servlet-name>
        <servlet-class>DAL.jobDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetailServlet</servlet-name>
        <servlet-class>Controller.JobDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetail</servlet-name>
        <servlet-class>Controller.JobDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJobPost</servlet-name>
        <servlet-class>Controller.UpdateJobPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCVServlet</servlet-name>
        <servlet-class>Controller.EmployeeCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginComServlet</servlet-name>
        <url-pattern>/LoginComServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobPostServlet</servlet-name>
        <url-pattern>/JobPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobListComServlet</servlet-name>
        <url-pattern>/JobListComServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobPostList</servlet-name>
        <url-pattern>/JobPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyList</servlet-name>
        <url-pattern>/CompanyList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyListAdmin</servlet-name>
        <url-pattern>/CompanyListAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComSer</servlet-name>
        <url-pattern>/DeleteComSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyServlet</servlet-name>
        <url-pattern>/AddCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControllerServlet</servlet-name>
        <url-pattern>/HomeControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jobDAO</servlet-name>
        <url-pattern>/jobDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailServlet</servlet-name>
        <url-pattern>/JobDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetail</servlet-name>
        <url-pattern>/JobDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJobPost</servlet-name>
        <url-pattern>/UpdateJobPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCVServlet</servlet-name>
        <url-pattern>/EmployeeCVServlet</url-pattern>
    </servlet-mapping>
</web-app>
